In [10]:
import datetime

now = datetime.datetime.now()
print("Current Date & Time:", now)
print("================================")

# --- Year ---
print("%Y (Year, full):", now.strftime("%Y"))   # 2025
print("%y (Year, short):", now.strftime("%y"))  # 25

# --- Month ---
print("%m (Month 01-12):", now.strftime("%m"))  # 09
print("%B (Month full name):", now.strftime("%B")) # September
print("%b (Month short name):", now.strftime("%b")) # Sep

# --- Day ---
print("%d (Day of month 01-31):", now.strftime("%d")) 
print("%j (Day of year 001-366):", now.strftime("%j")) 

# --- Week ---
print("%U (Week number, Sunday first):", now.strftime("%U")) 
print("%W (Week number, Monday first):", now.strftime("%W")) 
print("%w (Weekday as number, Sunday=0):", now.strftime("%w")) 
print("%A (Weekday full name):", now.strftime("%A")) 
print("%a (Weekday short name):", now.strftime("%a")) 

# --- Time ---
print("%H (Hour 00-23):", now.strftime("%H"))
print("%I (Hour 01-12):", now.strftime("%I"))
print("%M (Minute 00-59):", now.strftime("%M"))
print("%S (Second 00-59):", now.strftime("%S"))
print("%f (Microsecond 000000-999999):", now.strftime("%f"))
print("%p (AM/PM):", now.strftime("%p"))
print("%z (UTC offset):", now.strftime("%z"))
print("%Z (Timezone name):", now.strftime("%Z"))

# --- Combined Formats ---
print("%c (Locale date & time):", now.strftime("%c")) 
print("%x (Locale date):", now.strftime("%x")) 
print("%X (Locale time):", now.strftime("%X")) 
print("%r (12-hour clock with AM/PM):", now.strftime("%r"))

Current Date & Time: 2025-09-05 09:17:26.935683
================================
%Y (Year, full): 2025
%y (Year, short): 25
%m (Month 01-12): 09
%B (Month full name): September
%b (Month short name): Sep
%d (Day of month 01-31): 05
%j (Day of year 001-366): 248
%U (Week number, Sunday first): 35
%W (Week number, Monday first): 35
%w (Weekday as number, Sunday=0): 5
%A (Weekday full name): Friday
%a (Weekday short name): Fri
%H (Hour 00-23): 09
%I (Hour 01-12): 09
%M (Minute 00-59): 17
%S (Second 00-59): 26
%f (Microsecond 000000-999999): 935683
%p (AM/PM): AM
%z (UTC offset):
%Z (Timezone name):
%c (Locale date & time): Fri Sep  5 09:17:26 2025
%x (Locale date): 09/05/25
%X (Locale time): 09:17:26
%r (12-hour clock with AM/PM): 09:17:26 AM

In [11]:
import datetime

# Capture the First Date
day1 = datetime.date(2018, 2, 12)
print("day1:", day1.ctime())

# Capture the Second Date
day2 = datetime.date(2017, 8, 18)
print("day2:", day2.ctime())

# Find the difference between the dates
print("Number of Days:", day1 - day2)

# Today's date
date_today = datetime.date.today()

# Create a delta of Four Days
no_of_days = datetime.timedelta(days=4)

# Use Delta for Past Date
before_four_days = date_today - no_of_days
print("Before Four Days:", before_four_days)

# Use Delta for Future Date
after_four_days = date_today + no_of_days
print("After Four Days:", after_four_days)

day1: Mon Feb 12 00:00:00 2018
day2: Fri Aug 18 00:00:00 2017
Number of Days: 178 days, 0:00:00
Before Four Days: 2025-09-01
After Four Days: 2025-09-09

In [12]:
import datetime

date_today = datetime.date.today()
print("Today is:", date_today)

# Create a delta of Four Days 
no_of_days = datetime.timedelta(days=4) 

# Use Delta for Past Date
before_four_days = date_today - no_of_days 
print("Before Four Days:", before_four_days) 

# Use Delta for Future Date
after_four_days = date_today + no_of_days

date1 = datetime.date(2018, 4, 4)
print("date1:", date1)

# Comparisons
if date1 == before_four_days:
    print("Same Dates")
if date_today > date1:
    print("Past Date")
if date1 < after_four_days:
    print("Future Date")

Today is: 2025-09-05
Before Four Days: 2025-09-01
date1: 2018-04-04
Past Date
Future Date

In [17]:
import pandas as pd

# Left DataFrame
left = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1', 'sub2', 'sub4', 'sub6', 'sub5']
})

# Right DataFrame
right = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'subject_id': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5']
})

print("Left DataFrame:\n", left)
print("\nRight DataFrame:\n", right)

# Merge on "id"
merged = pd.merge(left, right, how="inner", on="id")

print("\nMerged DataFrame (on 'id'):\n", merged)

Left DataFrame:
    id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5

Right DataFrame:
    id   Name subject_id
0   1  Billy       sub2
1   2  Brian       sub4
2   3   Bran       sub3
3   4  Bryce       sub6
4   5  Betty       sub5

Merged DataFrame (on 'id'):
    id  Name_x subject_id_x Name_y subject_id_y
0   1    Alex         sub1  Billy         sub2
1   2     Amy         sub2  Brian         sub4
2   3   Allen         sub4   Bran         sub3
3   4   Alice         sub6  Bryce         sub6
4   5  Ayoung         sub5  Betty         sub5

In [15]:
import pandas as pd

ipl_data = {
    'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
             'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
    'Rank': [1, 2, 2, 3, 3, 4, 1, 1, 2, 4, 1, 2],
    'Year': [2014, 2015, 2014, 2015, 2014, 2015, 2016, 2017, 2016, 2014, 2015, 2017],
    'Points': [876, 789, 863, 673, 741, 812, 756, 788, 694, 701, 804, 690]
}

# Create DataFrame
df = pd.DataFrame(ipl_data)

# Group by Year
grouped = df.groupby('Year')

# Get all records for 2014
print("Data for Year 2014:\n", grouped.get_group(2014))

Data for Year 2014:
      Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

In [16]:
import pandas as pd

one = pd.DataFrame({
    'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
    'subject_id': ['sub1', 'sub2', 'sub4', 'sub6', 'sub5'],
    'Marks_scored': [98, 90, 87, 69, 78]
}, index=[1, 2, 3, 4, 5])

two = pd.DataFrame({
    'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
    'subject_id': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5'],
    'Marks_scored': [89, 80, 79, 97, 88]
}, index=[1, 2, 3, 4, 5])

# Concatenate DataFrames
result = pd.concat([one, two])

print("Concatenated DataFrames:\n", result)

Concatenated DataFrames:
      Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88